<div class="tags-container-en--mobile">
  <a href="{{site.massMediaUrl}}/tags/Bitcoin" target="_blank" class="tag" data-weight="7">Bitcoin</a>
  <a href="{{site.massMediaUrl}}/tags/Ethereum" target="_blank" class="tag" data-weight="3">Ethereum</a>
  <a href="{{site.massMediaUrl}}/tags/Blockchain" target="_blank" class="tag" data-weight="12">Blockchain</a>
  <a href="{{site.massMediaUrl}}/tags/Cryptocurrency" target="_blank" class="tag" data-weight="5">Cryptocurrency</a>
  <a href="{{site.massMediaUrl}}/tags/Decentralization" target="_blank" class="tag" data-weight="2">Decentralization</a>
  <a href="{{site.massMediaUrl}}/tags/Smart-Contracts" target="_blank" class="tag" data-weight="5">Smart Contracts</a>
  <a href="{{site.massMediaUrl}}/tags/NFT" target="_blank" class="tag" data-weight="6">NFT</a>
  <a href="{{site.massMediaUrl}}/tags/Altcoin" target="_blank" class="tag" data-weight="10">Altcoin</a>
  <a href="{{site.massMediaUrl}}/tags/Mining" target="_blank" class="tag" data-weight="8">Mining</a>
  <a href="{{site.massMediaUrl}}/tags/Wallet" target="_blank" class="tag" data-weight="3">Wallet</a>
  <a href="{{site.massMediaUrl}}/tags/Token" target="_blank" class="tag" data-weight="4">Token</a>
  <a href="{{site.massMediaUrl}}/tags/Digital-Asset" target="_blank" class="tag" data-weight="7">Digital Asset</a>
  <a href="{{site.massMediaUrl}}/tags/ICO" target="_blank" class="tag" data-weight="10">ICO</a>
  <a href="{{site.massMediaUrl}}/tags/DeFi" target="_blank" class="tag" data-weight="5">DeFi</a>
  <a href="{{site.massMediaUrl}}/tags/Proof-of-Work" target="_blank" class="tag" data-weight="11">Proof of Work</a>
  <a href="{{site.massMediaUrl}}/tags/Proof-of-Stake" target="_blank" class="tag" data-weight="3">Proof of Stake</a>
  <a href="{{site.massMediaUrl}}/tags/Consensus" target="_blank" class="tag" data-weight="5">Consensus</a>
  <a href="{{site.massMediaUrl}}/tags/Hard-Fork" target="_blank" class="tag" data-weight="8">Hard Fork</a>
  <a href="{{site.massMediaUrl}}/tags/Soft-Fork" target="_blank" class="tag" data-weight="6">Soft Fork</a>
  <a href="{{site.massMediaUrl}}/tags/Hashing" target="_blank" class="tag" data-weight="1">Hashing</a>
</div>
