<div class="tags-container-ru--desktop">
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="27">Биткойн</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="20">Эфириум</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="34">Блокчейн</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="18">Криптовалюта</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="23">Децентрализация</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="14">Смарт-контракты</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="12">NFT</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="20">Альткоин</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="12">Майнинг</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="22">Кошелек</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="4">Токен</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="7">Цифровой актив</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="10">ICO</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="22">DeFi</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="16">Подтверждение работы</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="23">Подтверждение доли</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="5">Консенсус</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="12">Хардфорк</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="17">Софтфорк</a>
  <a href="https://ixolist-mass-media.netlify.app/" target="_blank" class="tag" data-weight="26">Хеширование</a>
</div>