<div class="tags-container-en--mobile">
  <a href="#" class="tag" data-weight="7">Bitcoin</a>
  <a href="#" class="tag" data-weight="3">Ethereum</a>
  <a href="#" class="tag" data-weight="12">Blockchain</a>
  <a href="#" class="tag" data-weight="5">Cryptocurrency</a>
  <a href="#" class="tag" data-weight="2">Decentralization</a>
  <a href="#" class="tag" data-weight="5">Smart Contracts</a>
  <a href="#" class="tag" data-weight="6">NFT</a>
  <a href="#" class="tag" data-weight="10">Altcoin</a>
  <a href="#" class="tag" data-weight="8">Mining</a>
  <a href="#" class="tag" data-weight="3">Wallet</a>
  <a href="#" class="tag" data-weight="4">Token</a>
  <a href="#" class="tag" data-weight="7">Digital Asset</a>
  <a href="#" class="tag" data-weight="10">ICO</a>
  <a href="#" class="tag" data-weight="5">DeFi</a>
  <a href="#" class="tag" data-weight="11">Proof of Work</a>
  <a href="#" class="tag" data-weight="3">Proof of Stake</a>
  <a href="#" class="tag" data-weight="5">Consensus</a>
  <a href="#" class="tag" data-weight="8">Hard Fork</a>
  <a href="#" class="tag" data-weight="6">Soft Fork</a>
  <a href="#" class="tag" data-weight="1">Hashing</a>
</div>