<div class="tags-container-ru--mobile">
  <a href="#" class="tag" data-weight="7">Биткойн</a>
  <a href="#" class="tag" data-weight="3">Эфириум</a>
  <a href="#" class="tag" data-weight="12">Блокчейн</a>
  <a href="#" class="tag" data-weight="5">Криптовалюта</a>
  <a href="#" class="tag" data-weight="2">Децентрализация</a>
  <a href="#" class="tag" data-weight="5">Смарт-контракты</a>
  <a href="#" class="tag" data-weight="6">NFT</a>
  <a href="#" class="tag" data-weight="10">Альткоин</a>
  <a href="#" class="tag" data-weight="8">Майнинг</a>
  <a href="#" class="tag" data-weight="3">Кошелек</a>
  <a href="#" class="tag" data-weight="4">Токен</a>
  <a href="#" class="tag" data-weight="7">Цифровой актив</a>
  <a href="#" class="tag" data-weight="10">ICO</a>
  <a href="#" class="tag" data-weight="5">DeFi</a>
  <a href="#" class="tag" data-weight="11">Подтверждение работы</a>
  <a href="#" class="tag" data-weight="3">Подтверждение доли</a>
  <a href="#" class="tag" data-weight="5">Консенсус</a>
  <a href="#" class="tag" data-weight="8">Хардфорк</a>
  <a href="#" class="tag" data-weight="6">Софтфорк</a>
  <a href="#" class="tag" data-weight="1">Хеширование</a>
</div>