<div class="tags-container-ru--mobile">
  <a href="{{site.massMediaUrl}}/ru/tags/Биткоин" target="_blank" class="tag" data-weight="7">Биткоин</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Эфириум" target="_blank" class="tag" data-weight="2">Эфириум</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Блокчейн" target="_blank" class="tag" data-weight="12">Блокчейн</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Криптовалюта" target="_blank" class="tag" data-weight="5">Криптовалюта</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Децентрализация" target="_blank" class="tag" data-weight="2">Децентрализация</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Смарт-контракты" target="_blank" class="tag" data-weight="5">Смарт-контракты</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Альткоин" target="_blank" class="tag" data-weight="10">Альткоин</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Майнинг" target="_blank" class="tag" data-weight="8">Майнинг</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Кошелек" target="_blank" class="tag" data-weight="3">Кошелек</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Токен" target="_blank" class="tag" data-weight="4">Токен</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Цифровой актив" target="_blank" class="tag" data-weight="7">Цифровой актив</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Подтверждение-работы" target="_blank" class="tag" data-weight="11">Подтверждение работы</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Подтверждение-доли" target="_blank" class="tag" data-weight="3">Подтверждение доли</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Консенсус" target="_blank" class="tag" data-weight="5">Консенсус</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Хардфорк" target="_blank" class="tag" data-weight="8">Хардфорк</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Софтфорк" target="_blank" class="tag" data-weight="6">Софтфорк</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Хеширование" target="_blank" class="tag" data-weight="1">Хеширование</a>
</div>
