<div class="tags-container-en--mobile">
  <a href="{{site.massMediaUrl}}/categories/#Bitcoin" target="_blank" class="tag" data-weight="7">Bitcoin</a>
  <a href="{{site.massMediaUrl}}/categories/#Ethereum" target="_blank" class="tag" data-weight="3">Ethereum</a>
  <a href="{{site.massMediaUrl}}/categories/#Blockchain" target="_blank" class="tag" data-weight="12">Blockchain</a>
  <a href="{{site.massMediaUrl}}/categories/#Cryptocurrency" target="_blank" class="tag" data-weight="5">Cryptocurrency</a>
  <a href="{{site.massMediaUrl}}/categories/#Decentralization" target="_blank" class="tag" data-weight="2">Decentralization</a>
  <a href="{{site.massMediaUrl}}/categories/#Smart-Contracts" target="_blank" class="tag" data-weight="5">Smart Contracts</a>
  <a href="{{site.massMediaUrl}}/categories/#NFT" target="_blank" class="tag" data-weight="6">NFT</a>
  <a href="{{site.massMediaUrl}}/categories/#Altcoin" target="_blank" class="tag" data-weight="10">Altcoin</a>
  <a href="{{site.massMediaUrl}}/categories/#Mining" target="_blank" class="tag" data-weight="8">Mining</a>
  <a href="{{site.massMediaUrl}}/categories/#Wallet" target="_blank" class="tag" data-weight="3">Wallet</a>
  <a href="{{site.massMediaUrl}}/categories/#Token" target="_blank" class="tag" data-weight="4">Token</a>
  <a href="{{site.massMediaUrl}}/categories/#Digital-Asset" target="_blank" class="tag" data-weight="7">Digital Asset</a>
  <a href="{{site.massMediaUrl}}/categories/#ICO" target="_blank" class="tag" data-weight="10">ICO</a>
  <a href="{{site.massMediaUrl}}/categories/#DeFi" target="_blank" class="tag" data-weight="5">DeFi</a>
  <a href="{{site.massMediaUrl}}/categories/#Proof-of-Work" target="_blank" class="tag" data-weight="11">Proof of Work</a>
  <a href="{{site.massMediaUrl}}/categories/#Proof-of-Stake" target="_blank" class="tag" data-weight="3">Proof of Stake</a>
  <a href="{{site.massMediaUrl}}/categories/#Consensus" target="_blank" class="tag" data-weight="5">Consensus</a>
  <a href="{{site.massMediaUrl}}/categories/#Hard-Fork" target="_blank" class="tag" data-weight="8">Hard Fork</a>
  <a href="{{site.massMediaUrl}}/categories/#Soft-Fork" target="_blank" class="tag" data-weight="6">Soft Fork</a>
  <a href="{{site.massMediaUrl}}/categories/#Hashing" target="_blank" class="tag" data-weight="1">Hashing</a>
</div>
