<div class="tags-container-ru--mobile">
  <a href="{{site.massMediaUrl}}/ru/categories/#Биткоин" target="_blank" class="tag" data-weight="7">Биткоин</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Эфириум" target="_blank" class="tag" data-weight="2">Эфириум</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Блокчейн" target="_blank" class="tag" data-weight="12">Блокчейн</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Криптовалюта" target="_blank" class="tag" data-weight="5">Криптовалюта</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Децентрализация" target="_blank" class="tag" data-weight="2">Децентрализация</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Смарт-контракты" target="_blank" class="tag" data-weight="5">Смарт-контракты</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#NFT" target="_blank" class="tag" data-weight="6">NFT</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Альткоин" target="_blank" class="tag" data-weight="10">Альткоин</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Майнинг" target="_blank" class="tag" data-weight="8">Майнинг</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Кошелек" target="_blank" class="tag" data-weight="3">Кошелек</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Токен" target="_blank" class="tag" data-weight="4">Токен</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Цифровой актив" target="_blank" class="tag" data-weight="7">Цифровой актив</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#ICO" target="_blank" class="tag" data-weight="10">ICO</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#DeFi" target="_blank" class="tag" data-weight="5">DeFi</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Подтверждение-работы" target="_blank" class="tag" data-weight="11">Подтверждение работы</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Подтверждение-доли" target="_blank" class="tag" data-weight="3">Подтверждение доли</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Консенсус" target="_blank" class="tag" data-weight="5">Консенсус</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Хардфорк" target="_blank" class="tag" data-weight="8">Хардфорк</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Софтфорк" target="_blank" class="tag" data-weight="6">Софтфорк</a>
  <a href="{{site.massMediaUrl}}/ru/categories/#Хеширование" target="_blank" class="tag" data-weight="1">Хеширование</a>
</div>
