<div class="tags-container-en--desktop">
  <a href="#" class="tag" data-weight="27">Bitcoin</a>
  <a href="#" class="tag" data-weight="20">Ethereum</a>
  <a href="#" class="tag" data-weight="34">Blockchain</a>
  <a href="#" class="tag" data-weight="18">Cryptocurrency</a>
  <a href="#" class="tag" data-weight="23">Decentralization</a>
  <a href="#" class="tag" data-weight="14">Smart Contracts</a>
  <a href="#" class="tag" data-weight="12">NFT</a>
  <a href="#" class="tag" data-weight="20">Altcoin</a>
  <a href="#" class="tag" data-weight="12">Mining</a>
  <a href="#" class="tag" data-weight="22">Wallet</a>
  <a href="#" class="tag" data-weight="4">Token</a>
  <a href="#" class="tag" data-weight="7">Digital Asset</a>
  <a href="#" class="tag" data-weight="10">ICO</a>
  <a href="#" class="tag" data-weight="22">DeFi</a>
  <a href="#" class="tag" data-weight="16">Proof of Work</a>
  <a href="#" class="tag" data-weight="23">Proof of Stake</a>
  <a href="#" class="tag" data-weight="5">Consensus</a>
  <a href="#" class="tag" data-weight="12">Hard Fork</a>
  <a href="#" class="tag" data-weight="17">Soft Fork</a>
  <a href="#" class="tag" data-weight="26">Hashing</a>
</div>