<div class="tags-container-en--desktop">
  <a href="{{site.massMediaUrl}}/categories/#Bitcoin" target="_blank" class="tag" data-weight="27">Bitcoin</a>
  <a href="{{site.massMediaUrl}}/categories/#Ethereum" target="_blank" class="tag" data-weight="20">Ethereum</a>
  <a href="{{site.massMediaUrl}}/categories/#Blockchain" target="_blank" class="tag" data-weight="34">Blockchain</a>
  <a href="{{site.massMediaUrl}}/categories/#Cryptocurrency" target="_blank" class="tag" data-weight="18">Cryptocurrency</a>
  <a href="{{site.massMediaUrl}}/categories/#Decentralization" target="_blank" class="tag" data-weight="23">Decentralization</a>
  <a href="{{site.massMediaUrl}}/categories/#Smart-contracts" target="_blank" class="tag" data-weight="14">Smart Contracts</a>
  <a href="{{site.massMediaUrl}}/categories/#NFT" target="_blank" class="tag" data-weight="12">NFT</a>
  <a href="{{site.massMediaUrl}}/categories/#Altcoin" target="_blank" class="tag" data-weight="20">Altcoin</a>
  <a href="{{site.massMediaUrl}}/categories/#Mining" target="_blank" class="tag" data-weight="12">Mining</a>
  <a href="{{site.massMediaUrl}}/categories/#Wallet" target="_blank" class="tag" data-weight="22">Wallet</a>
  <a href="{{site.massMediaUrl}}/categories/#Token" target="_blank" class="tag" data-weight="4">Token</a>
  <a href="{{site.massMediaUrl}}/categories/#Digital-Asset" target="_blank" class="tag" data-weight="7">Digital Asset</a>
  <a href="{{site.massMediaUrl}}/categories/#ICO" target="_blank" class="tag" data-weight="10">ICO</a>
  <a href="{{site.massMediaUrl}}/categories/#DeFi" target="_blank" class="tag" data-weight="22">DeFi</a>
  <a href="{{site.massMediaUrl}}/categories/#Proof-of-Work" target="_blank" class="tag" data-weight="16">Proof of Work</a>
  <a href="{{site.massMediaUrl}}/categories/#Proof-of-Stake" target="_blank" class="tag" data-weight="23">Proof of Stake</a>
  <a href="{{site.massMediaUrl}}/categories/#Consensus" target="_blank" class="tag" data-weight="5">Consensus</a>
  <a href="{{site.massMediaUrl}}/categories/#Hard-Fork" target="_blank" class="tag" data-weight="12">Hard Fork</a>
  <a href="{{site.massMediaUrl}}/categories/#Soft-Fork" target="_blank" class="tag" data-weight="17">Soft Fork</a>
  <a href="{{site.massMediaUrl}}/categories/#Hashing" target="_blank" class="tag" data-weight="26">Hashing</a>
</div>
