<div class="tags-container-ru--desktop">
  <a href="{{site.massMediaUrl}}/categories/#Биткоин" target="_blank" class="tag" data-weight="27">Биткоин</a>
  <a href="{{site.massMediaUrl}}/categories/#Эфириум" target="_blank" class="tag" data-weight="20">Эфириум</a>
  <a href="{{site.massMediaUrl}}/categories/#Блокчейн" target="_blank" class="tag" data-weight="34">Блокчейн</a>
  <a href="{{site.massMediaUrl}}/categories/#Криптовалюта" target="_blank" class="tag" data-weight="18">Криптовалюта</a>
  <a href="{{site.massMediaUrl}}/categories/#Децентрализация" target="_blank" class="tag" data-weight="23">Децентрализация</a>
  <a href="{{site.massMediaUrl}}/categories/#Смарт-контракты" target="_blank" class="tag" data-weight="14">Смарт-контракты</a>
  <a href="{{site.massMediaUrl}}/categories/#NFT" target="_blank" class="tag" data-weight="12">NFT</a>
  <a href="{{site.massMediaUrl}}/categories/#Альткоин" target="_blank" class="tag" data-weight="20">Альткоин</a>
  <a href="{{site.massMediaUrl}}/categories/#Майнинг" target="_blank" class="tag" data-weight="12">Майнинг</a>
  <a href="{{site.massMediaUrl}}/categories/#Кошелек" target="_blank" class="tag" data-weight="22">Кошелек</a>
  <a href="{{site.massMediaUrl}}/categories/#Токен" target="_blank" class="tag" data-weight="4">Токен</a>
  <a href="{{site.massMediaUrl}}/categories/#Цифровой актив" target="_blank" class="tag" data-weight="7">Цифровой актив</a>
  <a href="{{site.massMediaUrl}}/categories/#ICO" target="_blank" class="tag" data-weight="10">ICO</a>
  <a href="{{site.massMediaUrl}}/categories/#DeFi" target="_blank" class="tag" data-weight="22">DeFi</a>
  <a href="{{site.massMediaUrl}}/categories/#Подтверждение-работы" target="_blank" class="tag" data-weight="16">Подтверждение работы</a>
  <a href="{{site.massMediaUrl}}/categories/#Подтверждение-доли" target="_blank" class="tag" data-weight="23">Подтверждение доли</a>
  <a href="{{site.massMediaUrl}}/categories/#Консенсус" target="_blank" class="tag" data-weight="5">Консенсус</a>
  <a href="{{site.massMediaUrl}}/categories/#Хардфорк" target="_blank" class="tag" data-weight="12">Хардфорк</a>
  <a href="{{site.massMediaUrl}}/categories/#Софтфорк" target="_blank" class="tag" data-weight="17">Софтфорк</a>
  <a href="{{site.massMediaUrl}}/categories/#Хеширование" target="_blank" class="tag" data-weight="26">Хеширование</a>
</div>
