<div class="tags-container-ru--desktop">
  <a href="{{site.massMediaUrl}}/ru/tags/Биткоин" target="_blank" class="tag" data-weight="27">Биткоин</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Эфириум" target="_blank" class="tag" data-weight="20">Эфириум</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Блокчейн" target="_blank" class="tag" data-weight="34">Блокчейн</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Криптовалюта" target="_blank" class="tag" data-weight="18">Криптовалюта</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Децентрализация" target="_blank" class="tag" data-weight="23">Децентрализация</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Смарт-контракты" target="_blank" class="tag" data-weight="14">Смарт-контракты</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Альткоин" target="_blank" class="tag" data-weight="20">Альткоин</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Майнинг" target="_blank" class="tag" data-weight="12">Майнинг</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Кошелек" target="_blank" class="tag" data-weight="22">Кошелек</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Токен" target="_blank" class="tag" data-weight="4">Токен</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Цифровой актив" target="_blank" class="tag" data-weight="7">Цифровой актив</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Подтверждение-работы" target="_blank" class="tag" data-weight="16">Подтверждение работы</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Подтверждение-доли" target="_blank" class="tag" data-weight="23">Подтверждение доли</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Консенсус" target="_blank" class="tag" data-weight="5">Консенсус</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Хардфорк" target="_blank" class="tag" data-weight="12">Хардфорк</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Софтфорк" target="_blank" class="tag" data-weight="17">Софтфорк</a>
  <a href="{{site.massMediaUrl}}/ru/tags/Хеширование" target="_blank" class="tag" data-weight="26">Хеширование</a>
</div>
