<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="{{baseurl}}/assets/scripts/app/script.js"></script>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{baseurl}}/assets/styles/css/style.css" rel="stylesheet">
    <!-- Include fonts -->
    {% include fonts.html %}
    <!-- Include animations -->
    {% include animations.html %}
  </head>
  <body class="apps-body">
    {% include multilang-buttons.html %}
    <div class="apps-body__header animate__animated animate__fadeInDown">
      <div class="header-logo">
        <a href="/">IXOlist</a>
      </div>
      {% include breadcrumbs.html %}
    </div>
    <div class="container-app">
      <div style="margin-top: 40px; height: 100%; width: 100%;">{{content}}</div>
    </div>
  </body>
</html>
