<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="{{baseurl}}/assets/scripts/app/script.js"></script>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{baseurl}}/assets/styles/css/new-styles.css" rel="stylesheet">
    <!-- Include fonts -->
    {% include fonts.html %}
    <!-- Include animations -->
    {% include animations.html %}
    {% include bootstrap.html %}
  </head>
  <body>
    <div class="header sticky-top shadow-lg" style="
      background: #1976D2;
    ">
      <div class="container d-flex">
        <div class="col">
          <div class="header-logo d-flex fs-5 p-3 align-items-center">
            <a href="/">IXOlist</a>
            {% include breadcrumbs.html %}
          </div>
        </div>
        {% include multilang-buttons.html %}
      </div>
    </div>
    <div class="container p-4">
      <div class="col text-primary d-flex mt-4 flex-column align-items-start">
        <h2 class="fw-bold display-3" style="
          color: #1976D2;
          line-height: 46px;"
        >
          {{ page.title }}
        </h2>
        <h3 class="fw-normal fs-4" style="
          color: #1976D2;
          line-height: 46px;"
        >
          {{ page.description }}
        </h3>
      </div>
      {{ content }}
    </div>
  </body>
</html>