<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta charset="UTF-8">
    <meta name="description" content="We ensure that clients participate in promising cryptocurrency projects, and also create a bridge between cryptocurrencies and business development for greater efficiency and effectiveness.">
    <meta name="keywords" content="IXOList, cryptocurrencies, ICO, blockchain, news, analytics, reviews, investments. IXOList, криптовалюты, ICO, блокчейн, аналитика, инвестиции">
    <meta name="author" content="IXOList">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <link rel="icon" type="image/x-icon" href="{{baseurl}}/assets/graphics/images/favico.ico">
    <link href="{{baseurl}}/assets/styles/css/new-styles.css" rel="stylesheet">
    <link rel="preload" as="image" href="{{baseurl}}/assets/graphics/images/background.webp"/>
    <link rel="preload" as="image" href="../assets/graphics/images/phone-2.webp"/>
    <link rel="preload" as="image" href="../assets/graphics/images/phone-3.webp"/>
    <link rel="preload" as="image" href="../assets/graphics/images/phone-4.webp"/>
    <link rel="preload" as="image" href="../assets/graphics/images/phone-5.webp"/>
    <!-- Include animations -->
    {% include animations.html %}
    {% include bootstrap.html %}
  </head>

  <div class="header sticky-top shadow-lg" style="
    background: #1976D2;
  ">
    <div class="container px-2 d-flex">
      <div class="col">
        <div class="header-logo d-flex fs-5 p-3">
          <a href="/">IXOlist</a>
          {% include breadcrumbs.html %}
        </div>
      </div>
      {% include multilang-buttons.html %}
    </div>
  </div>
  <body>
    <div class="section d-flex flex-column py-4">
      <div class="
        container
        d-flex
        flex-row
        justify-content-end
        align-items-center"
      >
        <div class="col px-3 text-white d-flex flex-column aling-items-center animate__animated animate__fadeInDown">
          <h1 class="display-1 fw-bold" style="color: #1976D2; margin-bottom: 0;">{{ page.main-title }}</h1>
          <h3 class="fw-light mt-4" style="line-height: 46px; color: #1976D2">
            <img class="phone-img img-fluid" style="float: right;" src="../assets/graphics/images/phone.webp" alt="phone-image-1"></img>
            <img class="phone-img img-fluid" style="float: right;" src="../assets/graphics/images/phone-2.webp" alt="phone-image-2"></img>
            <img class="phone-img img-fluid" style="float: right;" src="../assets/graphics/images/phone-3.webp" alt="phone-image-3"></img>
            <img class="phone-img img-fluid" style="float: right;" src="../assets/graphics/images/phone-4.webp" alt="phone-image-4"></img>
            <img class="phone-img img-fluid" style="float: right;" src="../assets/graphics/images/phone-5.webp" alt="phone-image-5"></img>
            <p class="main-subtitle-block">{{ page.main-subtitle}}</p>
</h3>
        </div>
      </div>
    </div>
    <div id="apps" class="section section--with-bg py-4">
      <div class="
        container
        justify-content-center
        align-items-center
        desktop-services-block"
      >
        <div class="px-4 fs-3 fw-light text-white text-center animate__animated animate__fadeInLeft">{{page.services-title}}</div>
        <div class="services-block__buttons w-100 col-6 p-4 text-white d-flex flex-column animate__animated animate__fadeInLeft">
          <a href="/apps/bank" class="services__btn fw-light" id="Bank" style="width: 100%; margin-bottom: 10px;">
            {{ page.bank }}
          </a>
          <div class="services__buttons">
            <a href="/apps/minting" class="services__btn fw-light" id="Minting">
              {{ page.minting }}
            </a>
            <a href="/apps/offering" class="services__btn fw-light" id="Offering">
              {{ page.offering }}
            </a>
            <a href="/apps/community" class="services__btn fw-light" id="Me">
              {{ page.community }}
            </a>
            <a href="/apps/enterprise" class="services__btn fw-light" id="Organizations">
              {{ page.enterprise}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section py-4" id="networks">
      <div class="
        container
        d-flex
        flex-column
        justify-content-center
        align-items-center
        animate__animated
        animate__fadeInLeft
      ">
        <div class="fs-3 px-3 fw-light animate__animated animate__fadeInLeft text-center" style="color: #1976D2;">{{page.to-use-ixolist}}</div>
        <div class="container d-flex flex-column mt-4">
          <div class="px-4 mb-3 fw-bold fs-5 fw-light animate__animated animate__fadeInLeft text-center" style="color: #1976D2;">{{page.blockchain-interoperability}}</div>
          <div class=" d-flex">
            <div class=" w-100">
              <div class="px-4 fs-5 fw-light animate__animated animate__fadeInLeft text-center" style="color: #808080; word-break: break-all">{{page.supported}}</div>
            </div>
            <div class=" w-100">
              <div class="px-4 fs-5 fw-light animate__animated animate__fadeInLeft text-center" style="color: #808080; word-break: break-all">{{page.featured}}</div>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <a href="/blockchain/antelope-framework/" class="about-page__link px-4 fs-5 fw-light">{{page.antelope-framework-family}}</a>
          </div>
          <div class=" d-flex">
            <div class=" w-100 p-2 d-flex align-items-center flex-column">
              <a href="/blockchain/antelope-framework/jungle" class="about-page__link px-4 fs-5 fw-light">Jungle</a>
            </div>
            <div class=" w-100 d-flex align-items-center p-2 flex-column">
            <a href="/blockchain/antelope-framework/eos" class="about-page__link px-4 fs-5 fw-light">EOS</a>
            <a href="/blockchain/antelope-framework/telos" class="about-page__link px-4 fs-5 fw-light">Telos</a>
            </div>
          </div>
          <div class="px-4 my-3 fw-bold fs-5 fw-light animate__animated animate__fadeInLeft text-center" style="color: #1976D2;">{{page.web3-authentication-tools}}</div>
          <div class="w-100  d-flex align-items-center flex-column">
            <a href="/web3-authentication-tools/anchor" class="about-page__link px-4 fs-5 fw-light">Anchor</a>
          </div>  
        </div>
      </div>
    </div>
    <div class="section section--with-bg py-4">
      <div class="
        container
        d-flex
        flex-row
        justify-content-center
        align-items-center
        animate__animated
        animate__fadeInLeft
        p-4
      ">
        {% if page.lang == "en" %}
          {% include cloud-tags/cloud-tags-en-desktop.html %}
          {% include cloud-tags/cloud-tags-en-mobile.html %}
        {% else %}
          {% include cloud-tags/cloud-tags-ru-desktop.html %}
          {% include cloud-tags/cloud-tags-ru-mobile.html %}
        {% endif %}
      </div>
    </div>
    <div class="section d-flex flex-column py-4">
      <div class="
        container
        d-flex
        form-container justify-content-center align-items-center"
      >
      {% if page.lang == "en" %}
        <a
          href="/contact-us/email-form"
          class="btn btn-primary btn-lg p-2 d-flex justify-content-center"
          style="
            background: #1976D2;
            max-width: 320px;
            width: 100%;"
          tabindex="-1"
          role="button"
        >{{page.contact-us}}</a>
      {% else %}
        <a
          href="/ru/contact-us/email-form"
          class="btn btn-primary btn-lg p-2 d-flex justify-content-center"
          style="
            background: #1976D2;
            max-width: 320px;
            width: 100%;"
          tabindex="-1"
          role="button"
        >{{page.contact-us}}</a>
      {% endif %}
      </div>
      <div class="socials w-100 d-flex justify-content-center align-items-center px-4 pt-4">
        <a href="#">
          <img style="width: 36px;" src="{{baseUrl}}/assets/graphics/images/matrix-icon.svg" alt="footer-icon-matrix"></img>
        </a>
        <a href="#">
          <img style="width: 36px;" src="{{baseUrl}}/assets/graphics/images/discord-icon.svg" alt="footer-icon-discord"></img>
        </a>
        <a href="#">
          <img style="width: 36px;" src="{{baseUrl}}/assets/graphics/images/telegram-icon.svg" alt="footer-icon-telegram"></img>
        </a>
        <a href="#">
          <img style="width: 36px;" src="{{baseUrl}}/assets/graphics/images/twitter-x-icon.svg" alt="footer-icon-twitter"></img>
        </a>
        <a href="#">
          <img style="width: 36px;" src="{{baseUrl}}/assets/graphics/images/youtube-icon.svg" alt="footer-icon-youtube"></img>
        </a>
        <a href="#">
          <img style="width: 36px;" src="{{baseUrl}}/assets/graphics/images/github-icon.svg" alt="footer-icon-github"></img>
        </a>
      </div>
    </div>
  </body>
  <script src="{{baseurl}}/assets/scripts/home/script.js"></script>
</html>
