<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="description" content="We ensure that clients participate in promising cryptocurrency projects, and also create a bridge between cryptocurrencies and business development for greater efficiency and effectiveness.">
    <meta name="keywords" content="IXOList, cryptocurrencies, ICO, blockchain, news, analytics, reviews, investments. IXOList, криптовалюты, ICO, блокчейн, аналитика, инвестиции">
    <meta name="author" content="IXOList">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{{baseurl}}/assets/graphics/images/open-graph-img.jpg"/>
    <meta property="og:description" content="We are creating a Web3 platform for people and organizations to provide the opportunity to participate in honest and reliable cryptocurrency projects, and also creating a bridge between the crypto world and business development for greater efficiency and effectiveness."/>
    <link rel="icon" type="image/x-icon" href="{{baseurl}}/assets/graphics/images/favico.ico">
    <link rel="preload" as="image" href="{{baseurl}}/assets/graphics/images/background.webp"/>
    <link href="{{baseurl}}/assets/styles/css/new-styles.css" rel="stylesheet">
    <!-- Include animations -->
    {% include animations.html %}
    {% include bootstrap.html %}
  </head>
  <body>
    <div class="header sticky-top shadow-lg" style="
      background: #1976D2;
    ">
      <div class="container px-2 d-flex">
        <div class="col">
          <div class="header-logo d-flex fs-5 p-3 align-items-center">
            <a href="/">IXOlist</a>
            {% include breadcrumbs.html %}
          </div>
        </div>
        {% include multilang-buttons.html %}
      </div>
    </div>
    <div class="container p-4">
      <div class="col text-primary d-flex flex-row align-items-start  animate__animated animate__fadeInDown">
        <div class="col">
          <h1 class="fw-bold display-4" style="
            color: #1976D2;
            margin: 0;"
          >
            {{ page.title }}
          </h1>
          {% if page.description %}
            <h3 class="fw-semibold fs-5 lh-base mt-4" style="
              color: #1976D2;
              margin: 0;"
            >
              {{ page.description }}
            </h3>
          {% endif %}
        </div>
        {% if page.create-account-link %}
          <div class="app-dapp-btn__block d-flex col-6 flex-column align-items-end p-2">
            {% if page.disabled %}
            <a
              href="{{page.create-account-link}}"
              class="btn btn-disabled btn-primary btn-lg p-2 d-flex justify-content-center"
              style="
                background: #1976D2;
                max-width: 280px;
                width: 100%;"
              tabindex="-1"
              role="button"
              target="_blank"
            >
              {{page.create-account}}
              <img width="26px" style="margin-left: 10px;" src="{{baseurl}}/assets/graphics/images/external-link.svg"></img>
            </a>
            {% else %}
              <a
                href="{{page.create-account-link}}"
                class="btn btn-primary btn-lg p-2 d-flex justify-content-center"
                style="
                  background: #1976D2;
                  max-width: 280px;
                  width: 100%;"
                tabindex="-1"
                role="button"
                target="_blank"
              >
                {{page.create-account}}
                <img width="26px" style="margin-left: 10px;" src="{{baseurl}}/assets/graphics/images/external-link.svg"></img>
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="col text-primary d-flex mt-4 flex-column align-items-start animate__animated animate__fadeInRight">
        <h3 class="fw-light fs-5 lh-base" style="
          color: #1976D2;
          margin: 0;"
        >
          {{ page.detail-description }}
        </h3>
        <div class="mt-4 w-100">{{ content }}</div>
      </div>
    </div>
  </body>
</html>
