<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="description" content="We ensure that clients participate in promising cryptocurrency projects, and also create a bridge between cryptocurrencies and business development for greater efficiency and effectiveness.">
    <meta name="keywords" content="IXOList, cryptocurrencies, ICO, blockchain, news, analytics, reviews, investments. IXOList, криптовалюты, ICO, блокчейн, аналитика, инвестиции">
    <meta name="author" content="IXOList">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{{baseurl}}/assets/graphics/images/open-graph-img.jpg"/>
    <meta property="og:description" content="We are creating a Web3 platform for people and organizations to provide the opportunity to participate in honest and reliable cryptocurrency projects, and also creating a bridge between the crypto world and business development for greater efficiency and effectiveness."/>
    <link rel="icon" type="image/x-icon" href="{{baseurl}}/assets/graphics/images/favico.ico">
    <link rel="preload" as="image" href="{{baseurl}}/assets/graphics/images/background.webp"/>
    <link href="{{baseurl}}/assets/styles/css/new-styles.css" rel="stylesheet">
    <!-- Include animations -->
    {% include animations.html %}
    {% include bootstrap.html %}
  </head>
  <body>
    <div class="header sticky-top shadow-lg" style="
      background: #1976D2;
    ">
      <div class="container px-2 d-flex">
        <div class="col" style="overflow-x: auto;">
          <div class="header-logo d-flex fs-5 p-3 align-items-center" style="padding-right: 0 !important;">
            <a href="/">IXOlist</a>
            {% include breadcrumbs.html %}
            <div class="dropdown">
              <img width="36px;" class="dropbtn" src="{{baseurl}}/assets/graphics/images/dots.png"></img>
              <div class="dropdown-content">
                {% if page.lang == "en" %}
                  <div class="fs-5">
                    <a href="https://ixolist-mass-media.netlify.app/tags-cloud/">Mass Media</a>
                  </div>
                  <div class="fs-5">
                    <a href="https://ixolist.netlify.app/apps/">Platform Apps</a>
                  </div>
                {% else %}
                  <div class="fs-5">
                    <a href="https://ixolist-mass-media.netlify.app/ru/tags-cloud/">СМИ</a>
                  </div>
                  <div class="fs-5">
                    <a href="https://ixolist.netlify.app/ru/apps/">Приложения</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% include multilang-buttons.html %}
      </div>
    </div>
    <div class="container p-4">
      <div class="col text-primary d-flex flex-column align-items-start  animate__animated animate__fadeInDown">
        <h1 class="lh-base fw-bold display-6" style="
          color: #1976D2;
          margin: 0;"
        >
          {{ page.title }}
        </h1>
        <h3 class="lh-base fw-semibold fs-5 mt-2" style="
          color: #1976D2;"
        >
          {{ page.description }}
        </h3>
      </div>
      <div class="col text-primary d-flex flex-column align-items-start animate__animated animate__fadeInRight">
        <h3 class="lh-base fw-light fs-5" style="
          color: #1976D2;
          margin-bottom: -10px;"
        >
          {{ page.detail-description }}
        </h3>
      </div>
      <div class="mt-3 animate__animated animate__fadeInLeft">
        {{ content }}
      </div>
      <!-- <div class="logical__block p-5 mt-5 position-relative">
        <h5 class="fs-6 logical__block-label p-1">Bussiness Processes</h5>
      </div> -->
    </div>
  </body>
  <script src="{{baseurl}}/assets/scripts/app/script.js"></script>
</html>
