<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="description" content="We ensure that clients participate in promising cryptocurrency projects, and also create a bridge between cryptocurrencies and business development for greater efficiency and effectiveness.">
    <meta name="keywords" content="IXOList, cryptocurrencies, ICO, blockchain, news, analytics, reviews, investments. IXOList, криптовалюты, ICO, блокчейн, аналитика, инвестиции">
    <meta name="author" content="IXOList">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{{baseurl}}/assets/graphics/images/favico.ico"/>
    <link rel="icon" type="image/x-icon" href="{{baseurl}}/assets/graphics/images/favico.ico">
    <link rel="preload" as="image" href="{{baseurl}}/assets/graphics/images/background.webp"/>
    <link href="{{baseurl}}/assets/styles/css/new-styles.css" rel="stylesheet">
    <!-- Include animations -->
    {% include animations.html %}
    {% include bootstrap.html %}
  </head>
  <body>
    <div class="header sticky-top shadow-lg" style="
      background: #1976D2;
    ">
      <div class="container px-2 d-flex">
        <div class="col">
          <div class="header-logo d-flex fs-5 p-3 align-items-center">
            <a href="/">IXOlist</a>
            {% include breadcrumbs.html %}
          </div>
        </div>
        {% include multilang-buttons.html %}
      </div>
    </div>
    <div class="container p-4">
      <div class="service-process__block d-flex justify-content-between animate__animated animate__fadeInRight">
        <div class="block__current-process d-flex">
          {% if page.backUrl %}
            <a class="d-flex" href="{{page.backUrl}}">
              <img style="width: 36px; margin-right: 10px;" src="{{baseurl}}/assets/graphics/images/back-arrow-icon.svg" href="{{page.backUrl}}"></img>
            </a>
            {% endif %}
          <div class="service-process-card fw-bold p-2" style="border: 4px solid #1976D2;">{{page.title}}</div>
        </div>
        <div class="block__other-processes d-flex">
          {{ content }}
        </div>
      </div>
      <div class="col text-primary d-flex mt-3 flex-column align-items-start animate__animated animate__fadeInRight">
        <h3 class="fw-light fs-5" style="
          color: #1976D2;
          line-height: 46px;"
        >
          {{ page.detail-description }}
        </h3>
      </div>
      <div class="d-flex flex-row animate__animated animate__fadeInLeft">
        {% if page.lang == "en" %}
          <a href="/{{page.diagramUrl}}" style="text-align: center;" class="diagram-card--no-outline diagram-card--dotted w-100 p-2">Diagrams</a>
          <a href="/{{page.videoUrl}}" style="text-align: center;" class="diagram-card--no-outline diagram-card--dotted w-100 p-2">UX Videos</a>
          <a href="/{{page.screensUrl}}" style="text-align: center;" class="diagram-card--no-outline diagram-card--dotted w-100 p-2">UI Screens</a>
        {% else %}
          <a href="/{{page.diagramUrl}}" style="text-align: center;" class="diagram-card--no-outline diagram-card--dotted w-100 p-2">Диаграммы</a>
          <a href="/{{page.videoUrl}}" style="text-align: center;" class="diagram-card--no-outline diagram-card--dotted w-100 p-2">UX Видео</a>
          <a href="/{{page.screensUrl}}" style="text-align: center;" class="diagram-card--no-outline diagram-card--dotted w-100 p-2">UI Скриншоты</a>
        {% endif %}
      </div>
    </div>
  </body>
  <script src="{{baseurl}}/assets/scripts/app/script.js"></script>
</html>
