html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1060px !important;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.section--with-bg {
  background-image: url("/assets/graphics/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.btn {
  transition: .3s !important;
}

.btn:hover {
  transition: .3s;
  transform: scale(1.03);
}

.phone-img {
  max-height: 400px;
  transform: rotate(7deg) !important;
  display: none;
}

.multilang-buttons {
  color: #fff;
  z-index: 1;
}

.multilang-buttons--selected {
  color: #1976D2 !important;
}

.multilang-buttons > a {
  text-decoration: none !important;
  color: #fff;
}

.separator {
  background: #fff;
  height: 24px;
  width: 2px;
  display: flex;
  margin: 0 10px;
}

.services__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 10px;
}

.services__btn {
  background: #fff;
  color: #1976D2;
  border-radius: 0.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  transition: .3s;
  max-height: 48px;
  position: relative; /* Добавляем позиционирование для псевдоэлемента */
  text-decoration: none;
}

.services__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: border-color .3s;
  pointer-events: none; /* Исключаем псевдоэлемент из пользовательского взаимодействия */
}

.services__btn:hover::before {
  border-color: #1976D2;
}

.header-logo {
  color: #fff;
  cursor: pointer;
  transition: .3s;
  padding: 6px;
  width: 100% !important;
}

.header-logo > a:hover {
  opacity: .3;
  transition: .3s;
}

.header-logo > a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
  border: 3px solid #fff;
  padding: 6px;
}

.desktop-services-block {
  display: flex;
  flex-direction: column;
}

.tags-container-en--desktop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tags-container-en--mobile {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tags-container-ru--desktop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tags-container-ru--mobile {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tag {
  color: #1976D2;
  text-decoration: none;
  font-size: 8px;
  font-weight: lighter;
  transition: color 0.3s ease;
  margin: 4px;
}

.tag:after {
  display: block;
  position: relative;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1976D2;
  content: "";
  transition: width 0.3s ease-out;
}

.tag:hover:after,
.tag:focus:after {
  width: 100%;
}

.form__input {
  display: flex;
  flex-direction: column;
  max-width: 632px;
  margin-bottom: 48px;
}

.form__input > label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #fff;;
  margin-bottom: 16px;
}

.form__input > input {
  height: 56px;
  border-radius: 0.5rem;
  border: 2px solid #fff;;
  outline: none;
  background: transparent;
  color: #fff;;
  font-size: 16px;
  padding: 0 24px;
}

.form__input > textarea {
  padding: 24px;
  min-height: 216px;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

form > button {
  max-width: 280px;
  background: #1976D2 !important;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white !important;
  transition: .3s !important;
}

form > button:hover {
  transition: .3s !important;
  transform: scale(1.03) !important;
}

.form-container {
  flex-direction: row;
}

#breadcrumbs {
  color: #fff !important;
  width: 100%;
  overflow: auto;
}

#breadcrumbs::-webkit-scrollbar {
  display: none;
}

#breadcrumbs > a {
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

#breadcrumbs > a:hover {
  opacity: .3;
  transition: .3s;
}

.diagrams__block {
  display: flex;
  flex-wrap: wrap;
}

.block__current-process > .service-process-card {
  margin-top: 0;
}

.service-process-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid #1976D2;
  text-decoration: none;
  color: #1976D2;
  transition: .3s;
  margin-right: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.service-process-card--link {
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid #1976D2;
  text-decoration: none;
  color: #1976D2;
  transition: .3s;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.service-process-card--link:hover {
  transition: .3s;
  opacity: .5;
}

.diagram-card--no-outline {
  display: flex;
  flex-direction: column;
  background: #1976D2;
  text-decoration: none;
  color: #fff;
  transition: .3s;
  margin-right: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.diagram-card--no-outline:hover {
  transition: .3s;
  opacity: .5;
}

.diagram-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #1976D2;
  text-decoration: none;
  color: #1976D2;
  transition: .3s;
  margin-right: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.diagram-card:hover {
  transition: .3s;
  opacity: .5;
}

.diagram__container-scroll {
  display: none;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
}

.block__other-processes > p {
  margin: 0;
}

.block__other-processes{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
}

.block__other-processes::-webkit-scrollbar {
  display: none;
}

.socials > a {
  margin: 0 10px;
  transition: .3s;
}

.socials > a:hover {
  opacity: 0.5;
  transition: .3s;
}

.logical__block {
  border: 2px solid #1976D2;
}

.logical__block-label {
  color: #1976D2;
  position: absolute;
  background: #fff;
  z-index: 1;
  top: -15px;
  left: 10px;
}

#apps:target{
  scroll-margin-top: 79px;
}

.language-selector {
  position: relative;
  display: flex;
  align-items: center;
}

.language-icon {
  position: relative;
  display: inline-block;
}

.language-options {
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.language-icon:hover .language-options {
  display: block;
}

.language-options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.language-options ul li {
  margin-bottom: 5px;
}

.language-options ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  display: block;
}

.language-options ul li a:hover {
  background-color: #f0f0f0;
}

@media (orientation: landscape) and (max-width: 1000px) {
  .diagram__container-scroll {
    display: block;
  }
}

@media screen and (max-width: 767px) {  
  .tags-container-en--mobile {
    display: flex;
  }
  
  .tags-container-en--desktop {
    display: none;
  }

  .tags-container-ru--mobile {
    display: flex;
  }
  
  .tags-container-ru--desktop {
    display: none;
  }

  .form-container {
    flex-direction: column;
  }

  form > button {
    max-width: 100% !important;
    background: #1976D2 !important;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    color: white !important;
    transition: .3s !important;
  }
}