html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.body__section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.section__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1304px;
  margin: 0 68px;
}

.body__section--first {
  background-image: url(../../graphics/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.body__section--second {
  background: #fff;
  height: 450px;
}

.body__section--third {
  background-image: url(../../graphics/images/background-rotate.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.body__section--fourth {
  background-image: url(../../graphics/images/background-rotate.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: #fff; */
  /* height: 450px; */
}

.body__section--tags {
  /* background-image: url(../../graphics/images/background-rotate.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  background: #fff;
  height: fit-content;
}

.tags-container-en--desktop {
  padding: 40px !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tags-container-en--mobile {
  padding: 40px !important;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tags-container-ru--desktop {
  padding: 40px !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tags-container-ru--mobile {
  padding: 40px !important;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tag {
  color: #1976D2;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  margin: 4px;
}

.tag:hover {
  color: #0056b3;
}

.container {
  height: 100%;
  display: flex;
  align-items: start;
  color: white !important;
}

.container__left-side {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.left-side__block {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.container__right-side {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container__title {
  font-size: 92px;
  font-weight: 600;
}

.container__subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
}

.container__btn {
  max-width: 280px;
  background: #1976D2;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 16px;
  margin-top: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white !important;
  transition: .3s !important;
}

.container__btn:hover {
  transition: .3s !important;
  transform: scale(1.05) !important;
}

.body__section--third > .section__container > .container > .container__right-side > .right-side__description > div > a > .container__btn{
  margin: 0 !important;
}

.phone-img {
  max-height: 700px;
  transform: rotate(7deg) !important;
  margin-top: 100px;
  display: none;
}

.block-text {
  color: #1976D2 !important;
  font-size: 22px;
  line-height: 46px;
}

.services__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 10px;
}

.services__btn {
  background: #fff;
  color: #1976D2;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  transition: .3s;
  max-height: 68px;
  position: relative; /* Добавляем позиционирование для псевдоэлемента */
}

.services__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: border-color .3s;
  pointer-events: none; /* Исключаем псевдоэлемент из пользовательского взаимодействия */
}

.services__btn.selected::before {
  border-color: transparent !important; /* Увеличиваем приоритет с помощью !important */
}

.services__btn:hover::before {
  border-color: #1976D2;
}

.selected {
  border: 4px solid #1976D2;
  transition: .3s;
}

.right-side__description {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.description {
  flex-direction: column;
  height: 100%;
  padding: 40px 0;
  max-height: 300px;
}

.description__text {
  display: flex;
  height: 100%;
}

.block-text--white {
  color: #fff !important;
  font-size: 22px;
  line-height: 46px;
}

.contact-section__first-column > .first-column__title {
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.02em;
  white-space: nowrap;
  font-weight: 600;
}

.contact-section__second-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 220px;
}

.contact-section__second-column > .second-column__title {
  color: #fff;;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0.01em;
  margin-bottom: 48px;
}

.form__input {
  display: flex;
  flex-direction: column;
  max-width: 632px;
  margin-bottom: 48px;
}

.form__input > label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #fff;;
  margin-bottom: 16px;
}

.form__input > input {
  height: 56px;
  border-radius: 28px;
  border: 2px solid #fff;;
  outline: none;
  background: transparent;
  color: #fff;;
  font-size: 16px;
  padding: 0 24px;
}

.form__input > textarea {
  padding: 24px;
  min-height: 216px;
  border-radius: 28px;
  border: 2px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

form > button {
  max-width: 280px;
  background: #1976D2;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white !important;
  transition: .3s !important;
}

form > button:hover {
  transition: .3s !important;
  transform: scale(1.05) !important;
}

.container__contact {
  display: flex;
  padding: 40px;
  width: 100%;
  justify-content: center;
}

.apps-body {
  background-image: url(../../graphics/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.apps-body__detail-description {
  font-size: 28px;
  padding: 40px;
  text-align: justify;
}

.apps-body__header {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding: 40px 40px 0 40px;
  
}

.header-logo {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
  padding: 6px;
}

.header-logo:hover > a {
  color: #1976D2;
  transition: .3s;
  border: 7px solid #1976D2;
}

.header-logo > a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
  border: 7px solid #fff;
  padding: 6px;
}

.container-app {
  color: #fff;
}

.container-app > .container__left-side {
  padding-bottom: 0;
}

.container-app > .container__rigth-side {
  padding: 40px;
}

#breadcrumbs {
  color: #fff !important;
  font-size: 26px;
  font-weight: 700;
  width: 100%;
  overflow: auto;
}

#breadcrumbs::-webkit-scrollbar {
  display: none;
}

#breadcrumbs > a {
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

#breadcrumbs > a:hover {
  color: #1976D2;
  transition: .3s;
}

.diagram__container {
  position: relative;
}

.diagram__container-scroll {
  display: none;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
}

.diagram__container > iframe {
  width: 1px;
  min-width: 100%;
  border: 1px solid #fff;
  flex-grow:1; margin:0; padding:0; border:0;
}

@media (orientation: landscape) and (max-width: 1000px) {
  .diagram__container-scroll {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .container__title {
    font-size: 36px !important; /* Уменьшаем размер заголовка на мобильных устройствах */
  }

  .container__subtitle {
    font-size: 16px !important; /* Уменьшаемразмер подзаголовка на мобильных устройствах */
    line-height: 32px;
  }
  
  .container__btn {
    font-size: 18px; /* Уменьшаем размер кнопок на мобильных устройствах */
    margin-top: 20px; /* Уменьшаем отступ кнопок от заголовка на мобильных устройствах */
  }

  .header-logo {
    color: #fff;
    font-size: 18px !important;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    padding: 6px;
  }
  
  .header-logo:hover > a {
    color: #1976D2;
    transition: .3s;
    border: 3px solid #1976D2;
  }
  
  .header-logo > a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    border: 3px solid #fff;
    padding: 6px;
  }

  #breadcrumbs {
    color: #fff !important;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    overflow: auto;
  }
  
  #breadcrumbs > a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
  }
  
  #breadcrumbs > a:hover {
    color: #1976D2;
    transition: .3s;
  }

  .diagram-card {
    font-size: 18px !important;
    border: 2px solid #fff !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 420px) {
  .container__title {
    font-size: 48px !important; /* Уменьшаем размер заголовка на мобильных устройствах */
  }

  .container__subtitle {
    font-size: 16px !important; /* Уменьшаемразмер подзаголовка на мобильных устройствах */
    line-height: 32px;
  }
  
  .container__btn {
    font-size: 18px; /* Уменьшаем размер кнопок на мобильных устройствах */
    margin-top: 20px; /* Уменьшаем отступ кнопок от заголовка на мобильных устройствах */
  }

  .header-logo {
    color: #fff;
    font-size: 20px !important;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    padding: 6px;
  }
  
  .header-logo:hover > a {
    color: #1976D2;
    transition: .3s;
    border: 3px solid #1976D2;
  }
  
  .header-logo > a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    border: 3px solid #fff;
    padding: 6px;
  }

  #breadcrumbs {
    color: #fff !important;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    overflow: auto;
  }
  
  #breadcrumbs > a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
  }
  
  #breadcrumbs > a:hover {
    color: #1976D2;
    transition: .3s;
  }

  .diagram-card {
    font-size: 18px !important;
    border: 2px solid #fff !important;
  }
}

@media only screen and (max-width: 768px) {
  .diagram-card {
    font-size: 20px !important;
    border: 2px solid #fff !important;
  }
  .apps-body__detail-description {
    font-size: 18px;
  }

  .section__container {
    margin: 0 20px; /* Уменьшаем отступы для маленьких экранов */
  }

  .container__title {
    font-size: 54px; /* Уменьшаем размер заголовка на мобильных устройствах */
  }

  .container__subtitle {
    font-size: 20px; /* Уменьшаемразмер подзаголовка на мобильных устройствах */
  }
  
  .container__btn {
    font-size: 18px; /* Уменьшаем размер кнопок на мобильных устройствах */
    margin-top: 20px; /* Уменьшаем отступ кнопок от заголовка на мобильных устройствах */
  }
  
  .phone-img {
    max-height: 320px; /* Уменьшаем высоту изображения телефона на мобильных устройствах */
    margin-top: 100px;
    max-width: 130px;
    width: 100%;
    height: auto;
  }

  .body__section--first > .section__container > .container > .container__right-side {
    padding-right: 40px;
  }

  .body__section--second > .section__container > .container > .container__right-side {
    display: none;
  }
  
  .body__section--second > .section__container > .container > .container__left-side > .left-side__block > .block-text {
    text-align: center !important;
  }

  .body__section--second > .section__container {
    margin: 0;
  }

  .body__section--third > .section__container {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .body__section--third > .section__container > .container {
    flex-direction: column;
    height: auto;
  }

  .body__section--third > .section__container > .container > .container__left-side {
    padding: 40px;
  }

  .body__section--third > .section__container > .container > .container__right-side {
    display: flex;
    justify-content: center;
    padding: 0 40px 40px 40px;
    margin-top: -20px;
  }

  .body__section--third > .section__container > .container > .container__right-side > .right-side__description > div {
    width: 100%;
  }

  .body__section--third > .section__container > .container > .container__right-side > .right-side__description > div > a > .container__btn{
    min-width: 100%;
    margin-top: 20px !important;
  }

  .body__section--third > .section__container > .container > .container__right-side > .right-side__description {
    min-width: 100%;
  }

  .body__section--third {
    height: auto;
  }

  .services__buttons {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
  }

  .services__btn {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .block-text, .block-text--white {
    font-size: 18px; /* Уменьшаем размер текста на мобильных устройствах */
    line-height: 36px; /* Уменьшаем межстрочный интервал на мобильных устройствах */
  }
  
  .contact-section__second-column {
    margin-left: 0; /* Убираем отступ у второго столбца контактной формы на мобильных устройствах */
  }
  
  .form__input {
    max-width: none; /* Убираем максимальную ширину для инпутов формы на мобильных устройствах */
    margin-bottom: 24px; /* Уменьшаем отступы между инпутами на мобильных устройствах */
  }
  
  .form__input > input,
  .form__input > textarea {
    font-size: 16px; /* Уменьшаем размер шрифта в инпутах и текстовом поле на мобильных устройствах */
  }
  
  form > button {
    font-size: 18px; /* Уменьшаем размер кнопки в форме на мобильных устройствах */
    min-width: 100%;
  }

  .container__contact {
    flex-direction: column;
  }
  
  .first-column__title {
    margin-bottom: 20px;
  }

  .second-column__title {
    font-size: 20px !important;
  }

  .description {
    padding: 0;
  }

  .tags-container-en--mobile {
    display: flex;
  }
  
  .tags-container-en--desktop {
    display: none;
  }

  .tags-container-ru--mobile {
    display: flex;
  }
  
  .tags-container-ru--desktop {
    display: none;
  }
}

.separator {
  background: #fff;
  height: 24px;
  width: 2px;
  display: flex;
  margin: 0 10px;
}

.multilang-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  z-index: 1;
}

.multilang-buttons--selected {
  color: #1976D2 !important;
}

.multilang-buttons > a {
  text-decoration: none !important;
  color: #fff;
}

.diagrams__block {
  margin-top: 40px;
  display: flex;
}

.diagram-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 4px solid #fff;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  transition: .3s;
}

.diagram-card:hover {
  transition: .3s;
  border: 4px solid #1976D2;
  background: #1976D2;
}